ADMIN_USER=admin
ADMIN_PASSWORD=tescgsm
PORT=3001

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=tescgsm
MYSQL_PASSWORD=tescgsm
MYSQL_DATABASE=tescgsm
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=tescgsm

SHOP_JSON_PATH=../New Project/public/products.json
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,https://tescgsm.es,https://www.tescgsm.es,https://admin.tescgsm.es
VITE_SHOP_URL=http://localhost:5173
VITE_ADMIN_URL=http://localhost:5174
